html
    head
        link(rel="stylesheet", href="/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Mallanna&display=swap")
    body
        a(class="header", href="/") Url To Img
        div
            form(action="/get-image", method="post")
                input(type="text" class="url" name="url" placeholder="URL pra ser tirado o printscreen.")
                button(type="submit") Buscar imagem
        h2 Preview Imagem
        div(class="preview-image")
            if !err && img
                img(src=img, alt="")