html
    head
        <meta charset="UTF-8">
        title URL To Image
        link(rel="stylesheet", href="/css/style.css")
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
    body
        header
            nav
                a(class="brand white", href="/") URL To Image
                ul
                    li
                        a(class="white", target='_blank' href='https://github.com/LeandroLS/url-to-img') Github
        main
            h1(for="url") Convert Web Page to Image
            form(action="/post-image", method="post")
                input(type="text" name="url" class="form-url" placeholder="Please enter web page URL which you would like to convert, e.g. http://example.com/")
                button(type="submit", class="button") Take Screenshot <i class="fas fa-camera-retro"></i>
            h3 Image Preview
            if !err && img
                div
                    img(src=`\\images\\${img}`, alt="")
                    a(href=`/get-image?img=${img}`, class="link")
                    button(type="button", class="button") Download Image <i class="fas fa-download"></i>
            else if err
                h3 Something went wrong. Could not fetch image. :(
            else
                div
                    img(src='placeholder-image.jpg' class="img")
        footer
            ul
                li
                    a(href="https://leandrols.github.io", class="white") Blog
    script(src="https://kit.fontawesome.com/e97a8e0e5c.js")