* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

main {
    width: 1000px;
    margin: auto;
}

main h1:hover {
    color:#01579b;
}

header {
    background: #01579b;
    padding: 40px;
    position: fixed;
    width: 100%;
}

header a:hover {
    color: #ccc;
}

form input, button {
    border: none;
    padding: 22px;
  
}

form button {
    cursor: pointer;
    background-color: #0277bd;
    color: white;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top: 1px solid #02467a;
    font-weight: bold;
    border-bottom: 3px solid #02467a;
}

form button:hover {
    background-color: #01579b;
}

.form-url {
    width: calc(100% - 200px);
    border: 1px solid #02467a;
    border-bottom: 3px solid #02467a;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

footer {
    background: black;
    position: fixed;
    padding: 18px;
    width: 100%;
    left: 0;
    bottom: 0;
}

footer a:hover {
    color:#ccc;
}

.brand {
    font-weight: bold;
    font-size: 26px;
}

main {
    padding-top: 200px;
}

main h1 {
    display: inline-block;
}

a {
    text-decoration: none;
}
.white {
    color: white;
}